/* src/page/service/ServicePage.css */
.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
}

.service-card {
    width: 300px; /* Điều chỉnh chiều rộng theo nhu cầu */
    margin: 10px; /* Thêm khoảng cách giữa các Card */
    height: 350px;
}
