.footer {
    background-color: black; 
    color: white; 
    padding: 40px 0;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 1;
    min-width: 180px;
    padding: 0 15px;
  }
  
  .column h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .column p,
  .column ul,
  .column li {
    font-size: 14px;
    line-height: 1.6;
  }

  .column p {
    margin-bottom: 20px; 
  }
  
  
  .column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .column ul li {
    margin-bottom: 10px;
  }
  
  .column ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .column ul li a:hover {
    color: #c1b6b6; 
  }

  .location-image {
    width: 200px; /* Điều chỉnh kích thước theo ý muốn */
    height: 150px; /* Giữ tỷ lệ khung hình */
  }

  
  
  